################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mobile/MzukuluQMSMobile/.vs/MzukuluQMSMobile.slnx/FileContentIndex/8a763c92-8b06-4290-b7e6-db6bafeafcdf.vsidx
.vs/
# Build outputs
[Bb]in/
[Oo]bj/